.element__like {
  margin: 0;
  padding: 0;
  display: block;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/element-like.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
}

.element__like:hover {
  opacity: .5;
}